# GROS FICHIERS - NE PAS METTRE SUR GITHUB
data/Adelaide_Data.csv
data/Perth_Data.csv
data/Sydney_Data.csv
data/Tasmania_Data.csv

# SAUF les petits fichiers
!data/uci_dataset_scrape.csv
!data/metadata.csv
!data/resume_fichiers.csv
