# Gros fichiers - NE PAS METTRE SUR GITHUB
data/Adelaide_Data.csv
data/Perth_Data.csv
data/Sydney_Data.csv
data/Tasmania_Data.csv

# SAUF les petits fichiers:
!data/meteo_reel.csv
!data/previsions_meteo.csv
!data/uci_dataset_detaille.csv
!data/analyse_datasets.csv
!data/metadata.json

# Fichiers preprocessing (données transformées)
data/processed/X_train_scaled.csv
data/processed/X_test_scaled.csv
data/processed/y_*.csv
data/processed/*.pkl
data/processed/*.joblib

# MLflow logs
mlruns/
mlflow/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements
venv/
env/
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db
*.log